html{
    font-family: "Open Sans";
}

.normal{
    border-bottom: 1px solid #DDDDDD; 
    padding: 0.4rem 0;
    color: rgb(76, 76, 76);
    font-size: 0.85rem;
}

.wrapper{
    width: 65%;
    margin: auto;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table div{
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.table{
    border-bottom: 1px solid #DDDDDD;
    width: 30%;
    text-align: center;
}

h2{
    color: rgb(69, 69, 69);
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.line{
    height: 3px;
    width: 10%;
    background: rgb(52, 177, 196);
}

.btn{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

button{
    background: rgb(0, 140, 186);
    border: none;
    padding: 0.8rem 1.5rem;
    color: white;
    font-size: 1rem;
    border-radius: 2px;

}

p{
    color: rgb(88, 87, 88);
}

.heading{
    border-top:  1px solid #DDDDDD;
    background: rgb(51, 51, 51);
    color: white;
    font-size: 1.4rem;
    padding: 0.4rem 0;
}

.special .heading{
    background: rgb(25, 150, 169);
}

.description{
    font-size: 0.7rem;
    color: rgb(136, 136, 136);
    border-bottom: 1px solid #DDDDDD;
    padding: 0.6rem 0;
}


.price{
    background: rgb(246, 246, 246);
    font-size: 1.7rem;
    padding: 0.2rem 0;
}