<h1>Create a car</h1>
<form method="post" action="/cars/create" enctype="multipart/form-data">
    <input name="make" placeholder="enter make" />
    <input name="model" placeholder="enter model" />
    <input name="imageUrl" , type="file", placeholder="enter image url" />
    <input name="color", placeholder="enter color (optional)" />
    
    <input id="submit" type="submit" value="CREATE" />
</form>