
         
                <h1>Welcome to SoftUni Wiki!</h1>
                <section>
                    <h2>All articles</h2>
                    <div class="spacer">
                        <ul>
                            {{#each articles}}
                            <li>
                                <a href="/articles/{{editID}}">{{title}}</a>
                            </li>
                           
                            {{else}}
                            no articles at all
                            {{/each}}
                        </ul>
                    </div>
                </section>
          