
                <h1>Welcome to SoftUni Wiki!</h1>
                <section>
                    <h2>Create new article</h2>
                    <div class="spacer">
                        <form method="POST" action="/article/create">
                            <label>Article title</label>
                            <input type="text" class="title" name="title">
                            <label>Content</label>
                            <textarea name="content"></textarea>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </section>
            </main>
           