                <h1>Welcome to SoftUni Wiki!</h1>
                <div class="spacer">
                    <h2>{{article.title}}
                        <div class="controls">
                            <a href="/article/edit/{{article._id}}">[edit]</a>
                            <a href="/article/history/{{article._id}}">[history]</a>
                        </div>
                    </h2>
                    <article>
                        {{content}}
                    </article>
                </div>
          