<h1>Welcome to SoftUni Wiki!</h1>
                <section>
                    <h2>Search results for: {{search}}</h2>
                    <div class="spacer">
                        <ul>
                            {{#each articles}}
                            <li>
                                <a href="/articles/{{editID}}">{{title}}</a>
                            </li>
                            {{/each}}
                            
                        </ul>
                    </div>
                </section>