<section id="welcome">
    <div class="container centered">
        {{> header}}

        {{#if isAuth}}
            {{> contactsPage}}
            {{else}}
            {{> loginForm}}
        {{/if}}


        {{> footer}}
    </div>
</section>