<div class="row">
    <div class="col wide">{{_kmd.ect}}</div>
    <div class="col wide">{{productCount}}</div>
    <div class="col">{{total}}</div>
    <div class="col">
        <a href="#/details/:{{_id}}">Details</a>
    </div>
</div>
