<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{submitTime}} ago by {{author}} {{#if authorOnComment}}| <a href="#/deleteComment/:{{_id}}" class="deleteLink">delete</a>{{/if}}
    </div>
</article>