<div id="menu">
    <div class="title">Navigation</div>
    <a class="nav" href="#/catalog">Catalog</a>
    <a class="nav" href="#/create">Submit Link</a>
    <a class="nav" href="#/viewMyPosts">My Posts</a>
</div>
