{{> header}}
{{> menu}}
<section id="viewMyPosts">
    <div class="post post-content">
        <h1>Your Posts</h1>
    </div>
    <div class="posts">
        {{#each posts}}
            {{> post}}
            {{else}}
            <div>No posts in database!</div>
        {{/each}}
    </div>
</section>
{{> footer}}