<div class="jumbotron">
    <div class="container">
        <h1>Find a movie</h1>
        <p>Search for a movie using the form below:</p>    
        <form action="">
          <input type="text" class="form-control">
          <button >Search</button>
        </form>  
  </div>    
    </div>
  

<div class="panel panel-default" *ngIf="popular">
  <div class="panel-heading">
      <h3 class="panel-title">Popular Movies</h3>    
  </div> 
  <div class="panel-body">
      <div class="row">
          <div *ngFor="let movie of popular.results;let i=index" class="col-md-2">
              <app-movie *ngIf="i<6" [movie]="movie"></app-movie>
          </div>    
      </div>    
  </div>   
</div>

<div class="panel panel-default" *ngIf="theaters">
  <div class="panel-heading">
      <h3 class="panel-title">In Theaters</h3>    
  </div> 
  <div class="panel-body">
      <div class="row">
          <div *ngFor="let movie of theaters.results;let i=index" class="col-md-2">
            <app-movie *ngIf="i<6" [movie]="movie"></app-movie>
          </div>    
      </div>    
  </div>   
</div>

<div class="panel panel-default" *ngIf="kids">
    <div class="panel-heading">
        <h3 class="panel-title">Kids</h3>    
    </div> 
    <div class="panel-body">
        <div class="row">
            <div *ngFor="let movie of kids.results;let i=index" class="col-md-2">
              <app-movie *ngIf="i<6" [movie]="movie"></app-movie>
            </div>    
        </div>    
    </div>   
  </div>

  <div class="panel panel-default" *ngIf="drama">
    <div class="panel-heading">
        <h3 class="panel-title">Drama</h3>    
    </div> 
    <div class="panel-body">
        <div class="row">
            <div *ngFor="let movie of drama.results;let i=index" class="col-md-2">
              <app-movie *ngIf="i<6" [movie]="movie"></app-movie>
            </div>    
        </div>    
    </div>   
  </div>
