<h1>Add New Movie</h1>
    <div class="container">
        <form action="/memes/addGenre" method="POST">
            <label for="movieTitle">Title</label>
            <input type="text" id="movieTitle" name="title" placeholder="The title of the movie">
                
            <input type="submit" value="Submit">

        </form>
    </div>
    
