{{> header}}
<div class="content">
{{> menu}}
<section id="viewCatalog">
    <div class="posts">
        {{#each posts}}
            {{> post}}
        {{else}}
            <div>No posts in database!</div>
        {{/each}}
    </div>
</section>
</div>
{{> footer}}