<h1>REGISTER</h1>
<form method="post" action="/user/register">
    <input name="username" placeholder="enter username" />
    <input type="password" name="password" placeholder="enter password" />
    <input id="submit" type="submit" value="REGISTER" />
</form>