<section id="contacts">
    <div class="container">

        <div id="book" class="box-large">
            <div id="list">
                <h1>Contacts</h1>
                {{> contactsList}}
            </div>
            <div id="details">
                <h1>Details</h1>
                {{#if selected}}
                    {{> contactDetails}}
                    {{else}}

                    <div class="content">
                        You have not selected a contact!
                    </div>
                {{/if}}
            </div>
        </div>

    </div>
</section>