{{> header}}
<section id="viewRegister">
    <div class="content">
        <form class="form" id="formRegister" method="post" action="#/register">
            <label>Username</label>
            <input name="username" type="text">
            <label>Password</label>
            <input name="password" type="password">
            <label>Repeat Password</label>
            <input name="repeatPass" type="password">
            <input id="btnRegister" value="Register" type="submit">
            <a href="#/skeleton.html">Log in</a>
        </form>
    </div>
</section>
{{> footer}}