<div class="container">
  <h1>Sign Up</h1>
  <form (ngSubmit)="signUp(registerForm.value)" #registerForm="ngForm">
    <div class="form-group">
      <label for="name">Username</label>
        <input type="text" class="form-control" id="name" 
         name="username" ngModel #username="ngModel" pattern="^[A-Za-z]{4,}$" required>

         <div [hidden]="username.valid || username.pristine" class="alert alert-dark">
          Username must contain only letters and be at least 4 symbols 
        </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" 
      name="email" ngModel email required #email="ngModel">
      <div [hidden]="email.valid || email.pristine" class="alert alert-dark">
        Please provide valid email
      </div>
      
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" 
     name="password" ngModel minlength="4" #password="ngModel" required>

     <div [hidden]="password.valid || password.pristine" class="alert alert-dark">
      Password must be at least 4 symbols
    </div>
    </div>
    <div class="form-group">
      <label for="password">Confirm password</label>
      <input type="password" class="form-control" id="passwordC" 
     name="Cpassword" ngModel #cpass="ngModel">

     <div [hidden]="password.value===cpass.value || cpass.pristine" class="alert alert-dark">
      Password must match
     </div>
    </div>
    <button type="submit" [disabled]="!registerForm.valid" class="btn btn-dark">Sign Up</button>
  </form>
</div>
